# This is a required variable
VAR_NAME_required=
# This is an optional variable (with default to empty)
VAR_NAME_optional=""
# This is a variable with a default
VAR_NAME_default="abc#def"			# see what I did with the quoted pound sign there?

VAR_NAME_1 = extra spaces can be tolerated
  VAR_NAME_2  = even the#pound character		# although this is still a comment

VAR_NAME_required_2  =      # this is still a required variable